/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

body{
   

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;            
  justify-content: space-between; 
  padding: 0 40px;                
  min-height: 80vh;              
  gap: 40px; 
  background-color: url("./")                     
}
u
#teamwork {
  flex: 1;  
  color: white;                      
}

#teamwork h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#teamwork p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.slack {
  display: flex;
  gap: 20px; 
  
  flex-direction: column;                   
}

.slack button {
  
  font-size: 1rem;
  cursor: pointer;
  display: flex;
 
  
  gap: 10px; 
               
}




.email{
display: flex;
  align-items: center;
  justify-content: center;
   padding: 10px 10px;

}


.Google
{
background-color: rgb(96, 96, 243);
display: flex;
align-items: center;
}


.Google span{
display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    padding: 10px 10px;
}

.Google img
{
    width: 28px;
    height: 28px ;
    display: flex;
    justify-content: flex-start;
     align-items: center;
     background-color: aliceblue;
     margin-left: 2px;
     

}



#app {
  flex: 1;                        
  display: flex;
  justify-content: center;         
}

#app img {
  max-width: 100%;
  height: auto;
}


nav {
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 64px;
  padding: 0 20px;
}

nav > div:first-child {
  display: flex;
  align-items: center;
  gap: 80px;
  height: 100%;
}

nav ul {
  display: flex;
  gap: 50px;
  list-style: none;
  height: 100%;
  align-items: center;
  margin-left: 60px;
}

nav li {
  list-style: none;
}

nav a {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: white;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  font-weight: 600;
}

.logo {
  width: 90px;
  display: block;
}

nav > div.Search {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}


#Trusted
{
    display: flex;
    flex-direction: column;
    background-color: rgb(157, 176, 169);
    justify-content: space-around;
    align-items: center;
    padding: 50px 12px;
padding: ;
}

.tittle{
    color: rgb(255, 255, 255);
     align-items: flex-start;
  
    
}

.partenaire 
{
     flex-direction: row;
    display: flex;
   
 
  justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    
}

.partenaire img{
       width: 130px;
    height: 60px;
    display: flex;
    align-items: center;
    
   
     object-fit: contain;
   
}

.hard {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;

    padding: 50px 70px;
    gap: 20px;

    box-sizing: border-box;
}

.listing {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);

    padding: 20px;
    justify-content: space-around;
    gap: 50px;

    width: 100%;
    box-sizing: border-box;
}

.listing li {
    margin-top: 40px;
    width: 200px;
    height: 200px; /* corrigé */
    background-color: rgb(255, 255, 255);

    list-style: none;
}

.listing li p {
    display: flex; /* nécessaire */
    align-items: center;
    justify-content: space-between;

    background-color: beige;
    padding: 10px;
}

.listing li span {
    font-size: 40px;
    font-weight: 900;
}

.digital {
  background-color: blueviolet;
  padding: 70px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.digital h3 {
  font-size: 50px; /* bigger text */
  text-align: center;
  color: white;
}

.button {
  display: flex;
  gap: 20px;
}

.button button {
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  width: 250px;
  height: 80px;
}

footer{

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30PX;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
   flex-direction: row;
   align-items: center;
}

#social{
display: flex;

justify-content: flex-start;
flex-direction: row;
gap: 50px;
margin-left: 60px;

}

@media (width < 768px) {
  

  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin-top: 10px;
  display: flex;
  align-items: center; 
  flex-direction: column;           
  justify-content: space-between; 
  padding: 0 40px;                
             background-color: blueviolet;
 
  background-color: url("./")                     
}
u
#teamwork {
  flex: 1;
  display: flex;                        
}

#teamwork h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
 
  text-align: center;
}

#teamwork p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  text-align: center;
  
}

.slack {
  display: flex;
  gap: 10px; 
  
  flex-direction: column;                   
}

.slack button {
  
  font-size: 1rem;
  cursor: pointer;
  display: flex;
 width: 450px;
 height: 50px;
  
  gap: 10px; 
               
}

.email{
display: flex;
  align-items: center;
  justify-content: center;
   padding: 10px 10px;

}


.Google
{
background-color: rgb(96, 96, 243);
display: flex;
align-items: center;
}


.Google span{
display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    padding: 10px 10px;
}

.Google img
{
    width: 28px;
    height: 28px ;
    display: flex;
    justify-content: flex-start;
     align-items: center;
     background-color: aliceblue;
     margin-left: 2px;
     

}



#app {
  flex: 1;                        
  display: flex;
  justify-content: flex-start;         
}

#app img {
  max-width: 120%;
  height: auto;
  margin-left: 20px;
}


nav {
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 64px;
  padding: 0 20px;
}

nav > div:first-child {
  display: flex;
  align-items: center;
  gap: 80px;
  height: 100%;
}

nav ul {
  display: none;
  
}

nav li {
  list-style: none;
}

nav a {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: white;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  font-weight: 600;
}

.logo {
  width: 90px;
  display: block;
}

nav > div.Search {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}


#Trusted
.partenaire {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 20px;
  justify-items: center;
}
.tittle{
    color: rgb(255, 255, 255);
   text-align:center;
  
    
}

.partenaire  
{
     flex-direction:row;
    display: flex;
   
 
  justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    
}

.partenaire img{
       width: 130px;
    height: 60px;
    display: flex;
    align-items: center;
    
   
     object-fit: contain;
   
}

.hard {
    display: flex;
    flex-direction: column;
    background-color: rgb(15, 231, 152);
    justify-content: center;
    align-items: center;

    padding: 50px 70px;
    gap: 20px;

    
}
.hard p {
text-align: center;
  font-size: 18px;
}

.listing {
    display: flex;
    flex-direction: column;
    background-color: rgb(209, 6, 220);
    align-items: center;

    padding: 20px;
    justify-content: center;
    gap: 02px;

    width: 100%;
   
}

.listing li {
    margin-top: 40px;
    width: 200px;
    height: 200px; /* corrigé */
    background-color: rgb(216, 25, 25);
    

    list-style: none;
}


.listing li p {
    display: flex; /* nécessaire */
    align-items: center;
    justify-content: center;

    background-color: beige;
    padding: 10px;
}

.listing li span {
    font-size: 40px;
    font-weight: 900;



    
}

.digital {
  background-color: blueviolet;
  padding: 70px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.digital h3 {
  font-size: 35px; /* bigger text */
  text-align: center;
  color: white;
}

.button {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button button {
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  width: 450px;
  height: 50px;
}







footer{

 display: flex;
  flex-direction: column; /* make children go side by side */
  justify-content: space-between; /* space between left and right */
  align-items: flex-start;
  padding: 5px;
  background-color: #f5f5f5;
 
 
}

.fi {
 display: flex;
  flex-direction: column; 
  gap: 10px; 
 align-items: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: aqua; 
}

footer ul li{

  


}

#social{
   
display: flex;
  justify-content: space-around; /* space around icons */
  width: 500px; /* controls how much horizontal space the social row takes */
  background-color: red; /* optional for visibility */
  gap: 30px; /* spacing between icons */
  padding: 5px 0;
  list-style: none;
  margin: 0;}
}

@media (min-width: 768px) and (max-width: 1024px) {
  

  * {
  margin: 0;
  padding: 0;
 
}

header {
  display: flex;
  align-items: center;            
  justify-content: space-around; 
   background-image: url('../images/background-singup.png');
    background-size: cover;
  background-position: center;

padding: 80px 19px 20px; 
                 
 
  background-color: url("./")                     
}

#teamwork {
 
 width: 500px;
 
                         
}

#teamwork h1 {
  font-size: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
 color: white;
 font-family: Arial, Helvetica, sans-serif;

  text-align: start;
  width: 250px;
  
}

#teamwork p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  width: 250px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.slack {
 
  display: flex;
  font-family: arial;
  flex-direction: column; 
  justify-content: center;                  
}

.slack button {
  width: 350px;
  height: 50px;
  border-radius: 5px;
  
  
 
  
  
               
}

.email{
display: flex;
  align-items: center;
  justify-content: center;
   padding: 10px 10px;
   color: blueviolet;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bolder;

}

header.texto
{
color: yellow;
}
.Google
{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
background-color: rgb(15, 74, 223);
display: flex;
font-family: Arial, Helvetica, sans-serif;
font-weight: bolder;

align-items: center;
}

.Google span{
display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    padding: 10px 10px;
}

.Google img
{
    width: 28px;
    height: 28px ;
    display: flex;
    justify-content: flex-end;
     align-items: center;
     background-color: rgb(245, 247, 249);
     margin-left: 5px;
     border-radius: 2px;
     

}
#app {
          
  width: 2000px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;    
  margin-left: 100px;     
}

#app img {
height: auto;
  max-width: 450px;
    background-color: black;
  
  
  

}









nav {
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 64px;
  padding: 0 20px;
}

nav > div:first-child {
  display: flex;
  align-items: center;
  gap: 80px;
  height: 100%;
}

nav ul {
  display: none;
  
}

nav li {
  list-style: none;
}

nav a {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: white;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  font-weight: 600;
}

.logo {
  width: 90px;
  display: block;
}

nav > div.Search {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}


#Trusted
{
    display: flex;
    flex-direction: column;
    background-color: rgb(227, 232, 230);
    justify-content: space-between;
    align-items: center;
    padding: 50px 12px;
padding: ;
}

.tittle{
    color: rgb(62, 59, 59);
     align-items: flex-start;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
  
    
}

.partenaire 
{
     flex-direction: row;
    display: flex;
   
 
  justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 20px;
    margin-left: 390px;
    margin-right: 390px;
    
}

.partenaire img{
       width: 130px;
    height: 60px;
    display: flex;
    align-items: center;
    
   
     object-fit: contain;
   
}


.hard {
  padding-top: 10px;
    display: flex;
    flex-direction: column;
  
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);

    padding: 20px 40px;
    gap: 5px;

    box-sizing: border-box;


}

.hard p{

  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.hard h3
{

color: blueviolet;
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
margin-bottom: 10px;

}

.listing {
    display: flex;
    flex-direction: row;
  
    padding: 20px;
    justify-content: space-around;
    gap: 50px;

    width: 100%;
    box-sizing: border-box;
    list-style: none;
}

.listing li {
    
    width: 200px;
    height: 200px; /* corrigé */
    

    list-style: none;
}

.listing li p {
    display: flex; /* nécessaire */
    align-items: center;
    justify-content: space-between;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.listing li span {
    font-size: 40px;
    font-weight: 900;
    color: blueviolet;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}


.digital {
  background-color: blueviolet;
  font-family: Arial, Helvetica, sans-serif;
  width: 900px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.digital h3 {
  font-size: 35px; /* bigger text */
  text-align: center;
  color: white;
}

.button {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button button {
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  width: 550px;
  height: 40px;
  border-radius: 2px;
 border-style: none;
 text-align: center;

}







footer{

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30PX;
  font-family: Arial, Helvetica, sans-serif;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
   flex-direction: row;
   align-items: center;
  font-weight: bold;
  font-size: 11px;
  list-style: none;
}

#social{
display: flex;

justify-content: flex-start;
flex-direction: row;
gap: 50px;
margin-left: 50px;


}
}